
/* 
nav {
    position: sticky;
    width: 100%;
    height: 70px;
    top: 0;
    background-color: #fff;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #000; 
    text-decoration: none; 
    margin: 0 15px; 
    font-size: 1.2em; 
    line-height: 1.5; 
} */

/* nav a:hover {
    text-decoration: underline; 
} */

/* NAVBAR */
.navbar {
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #e5e7eb; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50; 
    padding: 8px 4px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10vh; */
}

.nav-logo a img {
    width: 50px;
    height: auto;
    margin-left: 5vh;
}

.nav-menu {
    margin-right: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.nav-list li {
    list-style: none;
}

.nav-link {
    display: block;
    padding: 8px 12px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: #3b82f6;
    color: white;
}

.nav-link.active {
    background-color: #3b82f6;
    color: white;
}

.nav-icon {
    margin-top: 7px;
    margin-left: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-icon:hover {
    transform: scale(1.5);
}

.nav-icon img {
    width: 24px;
}

/* .header {
    position: relative;
    text-align: left;
    margin-left: 150px;
    width: 490vh;
    top: 25vh;
    display: inline-flexbox ;
}*/

/* HEADER */
.home {
    width: 600vh;
}

.header h1 {
    font-size: 3.4em;
    margin: 0;
    font-weight: 900;
    /* width: 700vh; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20vh;
    width: 70vh;
    height: auto;
    /* padding-top: 20vh; */
}

.header p {
    font-size: 1.3em;
} 

.typing {
    color: #3B82F6;
    white-space: nowrap;
    overflow: hidden;
    width: 100vh;
}

.cursor {
    content: "|";
    display: inline-block;
    animation: blink 1s infinite step-start;
}

.header p {
    width: 80vh;
    overflow-wrap: break-word;
}

.socials {
    position: relative;
    justify-content: flex-start; 
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.s1, .s2, .s3, .s4 {
    cursor: pointer;
}
.s1:hover, .s2:hover, .s3:hover, .s4:hover {
    transform: scale(1.2); 

}

.resume {
    background-color: rgb(59 130 246);
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 40vh;
    color: white;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
    position: relative;
    overflow: visible;
    text-align: center;
    margin-top: 30px;
}

.dev {
    width: 600px;
    height: 450px;
    position: absolute;
    right: 8%;
    top: 20%;
    animation: bounce 2s ease-in-out;
}
 
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}

/* ABOUT ME */
.about-container {
    /* display: flex; */
    background-color: #ffffff;
    position: relative;
    width: auto;
    top: 4rem;
    text-justify: auto;
    padding: 3%;
    padding-left: 16px; 
    padding-right: 16px; 
    height: fit-content;
}

.about-me h4,
.tech h4 {
    margin-top: 3rem;
    font-size: 1.875rem;
    font-weight: 600;
    color: #3B82F6;
}

.about-me p,
.tech p {
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: justify;
    color: #6B7280;
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}

.tech-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    /* background-color: #ffffff; */
    /* margin: 0.5rem; */
    /* border-radius: 0.5rem; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s;
    cursor: pointer;
    width: calc(20% - 1rem);
    box-sizing: border-box; 
}

.icon {
    width: 3rem;
    height: 3rem;
}

.tech-card h4 {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin-top: 3vh;
}

.about-me, .tech, .provide, .built {
    padding-inline: 10%;
}

/* SERVICES */
.services-container {
    display: block;
    background-color: #f3f4f6;
    position: relative;
    width: auto;
    top: 0%;
    /* margin-top: 0vh; */
    text-justify: auto;
    padding: 7%;
    padding-left: 20px; 
    padding-right: 20px;
    height: fit-content;
}

.services-container h4, .projects-container h4 {
    margin-top: 3rem;
    font-size: 1.875rem;
    font-weight: 600;
    color: #3B82F6;
    padding-left: 16px;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.service-card {
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.service-card img {
    width: 64px;
    height: 64px;
}

.service-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
}

.service-description {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #000000;
    text-align: justify;
}

/* Responsive Design */
@media (min-width: 768px) {
    .service-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-card {
        width: 350px;
        margin: 1rem;
    }
}

.about-container h2, .services-container h2, .projects-container h2, .contact-container {
    font-size: 3rem; 
    font-weight: bold; 
    text-align: center;
    margin: 0; 
    
}

/* PROJECTS */
.projects-container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    position: relative;
    width: auto;
    top: 5rem;
    text-justify: auto;
    padding-left: 16px; 
    padding-right: 16px; 
    height: 160vh;
}

/* .project-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 24px 16px;
} */

.cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 16vh;
    padding-right: 16vh;
}
.project-card {
    width: calc(48% - 16px);
    background-color: #1F2937;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.project-content {
    padding: 20px;
}
.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 12px;
    margin-top: auto;
}

.project-description {
    font-size: 1rem;
    color: #9cafa3;
    margin-bottom: 16px;
}
.project-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    background-color: #3b82f6;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

.project-button:hover {
    background-color: #2563eb;
}
.project-button svg, .show-more-button svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.show-more-button {
    display: block;
    width: 140px;
    padding: 16px;
    margin: 0 auto;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 40px;
    transition: background-color 0.3s ease;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.show-more-button:hover {
    background-color: #1e40af;
}